@import '../../variables.scss';

.forecast-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 400px;
  width: 212px;
  border-radius: 6px;
  padding: 32px 0;
  .forecast-list-item__time {
    @include typography-secondary;
  }
  .forecast-list-item__icon-wrapper {
    width: 120px;
  }
  .forecast-list-item__temperature {
    @include typography-primary;
    font-size: $font-size-m;
  }
  &:hover {
    background-color: $indigo-rgba;
  }
}