// COLORS
$ceremonial-purple: #262A59;
$forsythia: #FFC700;
$white: #FFFFFF;
$indigo: #A8AABD;
$basalt-grey: #999999;

// FONT SIZES
$font-size-s: 47.78px;
$font-size-m: 82.556px;
$font-size-l: 99.068px;
$font-size-xl: 246.512px;